@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

:root {
    /* Colors */ 
    --orange-color: rgb(246, 99, 53);
    --dark-color:rgb(230, 233, 240);
    --border: rgba(207, 24, 24, 0.25);
    --background: rgba(136, 188, 216, 0.1);
    --box_shadow: rgba(3, 46, 87, 0.3);
}
html{
    font-size: 10px;
    color: var(--dark-color);
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.maindiv {
    background: url(https://img.freepik.com/free-photo/aerial-shot-colorful-autumn-forest_181624-41105.jpg?w=740&t=st=1691571987~exp=1691572587~hmac=2a8388dee82a213f7b6a91a5eca19d3da3cb249985c6f9ffbe9a559629b41208
    );
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    width: auto;
    height: auto;
    background: var(--background);
    backdrop-filter: blur(0.5rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 1.8rem 3.7rem var(--box_shadow);
}
.serch_box{
    width: 40rem;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 3rem;
    padding: 1rem 1rem;
    backdrop-filter: blur(0.4rem) saturate(180%);
    box-shadow: 0 1.8rem 3.7rem var(--box_shadow);
    margin: 2rem 2rem;
}
.serch_box input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: var(--dark-color);
}
.serch_box input::placeholder{
    color: var(--dark-color);
}
.serch_box button{
    border: 0;
    border-radius: 50%;
    background: var(--orange-color);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 .temp_continer{
    display: flex;
  justify-content: center;
  margin: 3rem 0 5rem 0;
  text-align: center;
 }
 .temp_continer div{
    padding: 1rem 1.5rem;
 }
 
  .temp_container .title {
    font-weight: 600;
    color: var(--dark-color);
    font-size: 1.6rem;
  }
  .temp_container .temp {
    font-weight: 600;
    color: var(--orange-color);
    font-size: 1.6rem;
  }
  .show .cityname{
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    font-weight: 600;
    font-size: 2.6rem;
    margin: 2rem 0 3rem 0;
  }
  .weather, .desc {
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
  }
  .weather {
    margin: 1rem 0;
  }

  